{% extends 'expert-base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    
    <div class="flex flex-col items-center text-center bg-gradient-to-r from-slate-400 via-slate-500 to-slate-400 py-8 rounded-lg shadow-md">
        <h1 class="text-4xl font-bold text-white mb-4">Profile</h1>
        <h4 class="text-slate-100 text-lg">View and update your profile information here.</h4>
    </div>
    <div><br/></div>

    <!-- Profile Form Section -->
    <div class="bg-white shadow-lg rounded-lg p-8 space-y-8">
        <div class="text-center">
            <div class="flex flex-col items-center">
                <img src="{{ url_for('static', filename='img/' + user.profile_image_url) }}" 
                     alt="Profile Image" id="profileImage" width="150" height="150" class="rounded-full border border-gray-300 mb-4">
            </div>
        </div>
        
        <!-- Editable Profile Form -->
        <form method="POST" action="{{ url_for('expert_profile') }}" enctype="multipart/form-data" class="space-y-4">
            <div class="space-y-2">
                <label for="username" class="text-sm font-medium text-gray-700">Username</label>
                <input type="text" id="username" name="username" class="w-full p-3 border border-gray-300 rounded-md" value="{{ user.username }}" readonly>
            </div>
            
            <div class="space-y-2">
                <label for="email" class="text-sm font-medium text-gray-700">Email</label>
                <input type="email" id="email" name="email" class="w-full p-3 border border-gray-300 rounded-md" value="{{ user.email }}" readonly>
            </div>
            <div class="space-y-2">
                <label for="role" class="text-sm font-medium text-gray-700">Role</label>
                <input type="text" id="role" name="role" class="w-full p-3 border border-gray-300 rounded-md" value="{{ user.role }}" readonly>
            </div>
            <div class="space-y-2">
                <label for="gender" class="text-sm font-medium text-gray-700">Gender</label>
                <input type="text" id="gender" name="gender" class="w-full p-3 border border-gray-300 rounded-md" value="{{ user.gender }}" readonly>
            </div>
            
            <div class="space-y-2">
                <label for="address" class="text-sm font-medium text-gray-700">Address</label>
                <input type="text" id="address" name="address" class="w-full p-3 border border-gray-300 rounded-md" value="{{ user.address }}">
            </div>
            
            <div class="space-y-2">
                <label for="phone" class="text-sm font-medium text-gray-700">Phone Number</label>
                <input type="tel" id="phone" name="phone" class="w-full p-3 border border-gray-300 rounded-md" value="{{ user.phone }}">
            </div>
            
            <button type="submit" class="w-full py-3 bg-gray-900 text-white rounded-md hover:bg-gray-600 transition">Save Changes</button>
        </form>
    </div>
{% endblock %}
