{% extends 'base.html' %}

{% block title %}Forums{% endblock %}

{% block content %}
    <div class="container mx-auto p-6">
        <div class="bg-gradient-to-r from-[#28844b] via-[#a8cf45] to-[#799928] text-white py-10 rounded-lg shadow-lg mb-4">
            <div class="text-center">
                <h1 class="text-4xl font-extrabold text-[#fff9f9] drop-shadow-md">Welcome to Our Forums</h1>
                <p class="text-lg mt-2 font-medium text-[#ecfccb]">
                    Share your knowledge and connect with like-minded individuals.</p>
            </div>
        </div>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="mb-4">
                    <div class="bg-green-500 text-white p-4 rounded-md">
                        <p>{{ messages[0][0] }}</p>
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        <!-- Forum Categories -->
        <div class="mb-6">
           
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for category in categories %}
                    <div class="bg-gradient-to-r from-green-100 via-grey-200 to-white-300 shadow-lg rounded-md p-6 hover:shadow-xl transition duration-300 ease-in-out">
                        <div class="text-center mb-4">
                            <h4 class="text-2xl font-bold text-gray-800">{{ category.name }}</h4>
                            <p class="text-gray-600 mt-4">{{ category.description }}</p>
                        </div>
                        
                        <div class="flex justify-center mt-8">
                            <a href="{{ url_for('view_category', category_id=category.id) }}" class="bg-green-600 text-white hover:bg-green-500 focus:ring-green-500 focus:ring-opacity-50 py-2 px-6 rounded-md text-center transition duration-300 ease-in-out no-underline">
                                View Posts
                            </a>
                        </div>
                        
                        
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
