<div class="sidebar">
    <div class="sidebar-header">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </a>
    </div>
    <div class="sidebar-menu">
        <a href="{{ url_for('dashboard') }}" class="{% if request.path == url_for('dashboard') %}active{% endif %}">
            <span class="glyphicon glyphicon-leaf"></span> Farm Monitor
        </a>
        <a href="{{ url_for('expert') }}" class="{% if request.path == url_for('expert') %}active{% endif %}">
            <span class="glyphicon glyphicon-briefcase"></span> Book an Expert
        </a>
        <a href="{{ url_for('forums') }}" class="{% if request.path == url_for('forums') %}active{% endif %}">
            <span class="glyphicon glyphicon-comment"></span> Forums
        </a>
        <a href="{{ url_for('market') }}" class="{% if request.path == url_for('market') %}active{% endif %}">
            <span class="glyphicon glyphicon-shopping-cart"></span> Market
        </a>
        <a href="{{ url_for('profile') }}" class="{% if request.path == url_for('profile') %}active{% endif %}">
            <span class="glyphicon glyphicon-user"></span> Profile
        </a>
        <a href="{{ url_for('resources') }}" class="{% if request.path == url_for('resources') %}active{% endif %}">
            <span class="glyphicon glyphicon-book"></span> Resources
        </a>
        <a href="{{ url_for('account_settings') }}" class="{% if request.path == url_for('account_settings') %}active{% endif %}">
            <span class="glyphicon glyphicon-cog"></span> Settings
        </a>
        <a href="{{ url_for('help') }}" class="{% if request.path == url_for('help') %}active{% endif %}">
            <span class="glyphicon glyphicon-question-sign"></span> Help
        </a>
        <a href="{{ url_for('logout') }}" 
           class="flex items-center justify-center px-2 py-0 rounded bg-lime-600 text-white">
            <span class="glyphicon glyphicon-log-out"></span>
            <span>Logout</span>
        </a>
    </div>
</div>
