{% extends 'base.html' %}

{% block title %}Market{% endblock %}

{% block content %}
    <div class="market-page">

        <!-- Top Cart Button -->
        <div class="cart-button">
            <!-- Redirects to the cart page -->
            <a href="{{ url_for('products.cart') }}" class="cart-link">
                🛒 <span class="cart-count">{{ cart|length }}</span>
            </a>
        </div>

        <!-- Introduction Section -->
        <div class="intro-section">
            
            <div class="bg-gradient-to-r from-[#28844b] via-[#a8cf45] to-[#799928] text-white py-10 rounded-lg shadow-lg mb-8">
                <div class="text-center">
                    <h1 class="text-4xl font-extrabold text-[#fff9f9] drop-shadow-md">Welcome to Our Market</h1>
                    <p class="text-lg mt-2 font-medium text-[#ecfccb]">
                        Explore our range of agricultural tools and accessories for your farming needs.              </p>
                </div>
            </div>
            
            <div class="info-cards">
                <div class="card">🌱 Hydroponic Kits</div>
                <div class="card">💡 LED Grow Lights</div>
                <div class="card">📏 pH Meters</div>
                <div class="card">💧 Nutrient Solutions</div>
                <div class="card">📦 More Accessories</div>
            </div>
        </div>

        <!-- Product List Section -->
        <div class="product-list">
            {% for product in products %}
                <div class="product-item">
                    <img src="{{ url_for('static', filename='img/' + product.image_url) }}" alt="{{ product.name }}" class="rounded-full w-40 h-40 object-cover mx-auto mb-4">


                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <p>Price: Kshs.{{ product.price }}</p>
                    
                    <form method="POST" action="{{ url_for('products.add_to_cart') }}">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <input type="number" name="quantity" min="1" value="1">
                        <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                    </form>
                </div>
            {% endfor %}
        </div>

        <!-- Link to Add New Product -->
        <div class="flex justify-center mt-8">
            <a href="{{ url_for('products.add_product') }}" 
               class="bg-green-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 shadow-lg">
                Add a new product
            </a>
        </div>
        
    </div>
{% endblock %}
